body {
    text-align: center;
}
canvas {
  max-width: 600px;
}

@media only screen and (max-width: 1000px) {
        canvas {
            max-width: 500px;
        }
    }

@media only screen and (max-width: 735px) {
        canvas {
            max-width: 400px;
        }
    }
